<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:body>
	<div>
		<h:form>
			<h:link outcome="componentes.xhtml" value="Componentes"/>
			<h:link outcome="turmas.xhtml" value="Turmas"/>
			<h:link outcome="sugestao-de-turmas.xhtml" value="Sugestão de Turmas"/>
			<h:link outcome="turmas-selecionadas.xhtml" value="Turmas Selecionadas"/>
		</h:form>
	</div>
	<h1>Novo Componente</h1>
	<h:form>
		<fieldset>
			<legend>Dados do Componente</legend>
			<h:inputHidden value="#{componentBean.component.id}" />
			<h:panelGrid columns="2">
				<h:outputLabel value="Código" for="code" />
				<h:inputText id="code" value="#{componentBean.component.code}" />
				<h:outputLabel value="Nome" for="name" />
				<h:inputText id="name" value="#{componentBean.component.name}" />
				<h:outputLabel value="Carga horária" for="hours" />
				<h:inputText id="hours" value="#{componentBean.component.hours}">
					<f:convertNumber integerOnly="true"/>
				</h:inputText>
				<h:outputLabel value="Obrigatório?" for="required" />
				<h:selectOneRadio id="required" value="#{componentBean.component.required}">
					<f:selectItem itemValue="#{true}" itemLabel="Sim"/>
					<f:selectItem itemValue="#{false}" itemLabel="Não"/>
				</h:selectOneRadio>
				<h:outputLabel value="Cumprido?" for="fulfilled" />
				<h:selectOneRadio id="fulfilled" value="#{componentBean.component.fulfilled}">
					<f:selectItem itemValue="#{true}" itemLabel="Sim"/>
					<f:selectItem itemValue="#{false}" itemLabel="Não"/>
				</h:selectOneRadio>
				<h:outputLabel value="Pré-requisitos" for="preRequirements" />
				<h:inputText id="preRequirements" value="#{componentBean.component.preRequirements}" />
				<h:outputLabel value="Co-requisitos" for="coRequirements" />
				<h:inputText id="coRequirements" value="#{componentBean.component.coRequirements}" />
				<h:outputLabel value="Equivalências" for="equivalences" />
				<h:inputText id="equivalences" value="#{componentBean.component.equivalences}" />
				<h:commandButton value="Salvar" action="#{componentBean.save}"/>
			</h:panelGrid>
		</fieldset>
	</h:form>
</h:body>

</html>