<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 
<h:head></h:head> 
<body>
	<div>
		<h:form>
			<h:link outcome="componentes.xhtml" value="Componentes"/>
			<h:link outcome="turmas.xhtml" value="Turmas"/>
			<h:link outcome="sugestao-de-turmas.xhtml" value="Sugestão de Turmas"/>
			<h:link outcome="turmas-selecionadas.xhtml" value="Turmas Selecionadas"/>
		</h:form>
	</div>
</body> 
</html>