<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:body>
	<div>
		<h:form>
			<h:link outcome="componentes.xhtml" value="Componentes"/>
			<h:link outcome="turmas.xhtml" value="Turmas"/>
			<h:link outcome="sugestao-de-turmas.xhtml" value="Sugestão de Turmas"/>
			<h:link outcome="turmas-selecionadas.xhtml" value="Turmas Selecionadas"/>
		</h:form>
	</div>
	<h1>Turmas</h1>
	<h:form>
		<h:dataTable value="#{subjectBean.subjectList}" var="s" border="1">
			<h:column>
				<f:facet name="header">
					<h:outputText value="Componente" />
				</f:facet>
				<h:outputText value="#{s.component.name}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Horário" />
				</f:facet>
				<h:outputText value="#{s.time}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Professor" />
				</f:facet>
				<h:outputText value="#{s.teacher}" />
			</h:column>
			<h:column>
				<f:facet name="header">
					<h:outputText value="Opção" />
				</f:facet>
				<h:commandLink action="#{subjectBean.edit(s.id)}" value="Editar" />
				<h:commandLink action="#{subjectBean.delete(s)}" value="Excluir" onclick="return confirm('Tem certeza?')" />
			</h:column>
		</h:dataTable>
	</h:form>
	<h:form>
		<h:link outcome="turma.xhtml" value="Adicionar nova Turma" />
	</h:form>
</h:body>
</html>