<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

<h:body>
	<div>
		<h:form>
			<h:link outcome="componentes.xhtml" value="Componentes"/>
			<h:link outcome="turmas.xhtml" value="Turmas"/>
			<h:link outcome="sugestao-de-turmas.xhtml" value="Sugestão de Turmas"/>
			<h:link outcome="turmas-selecionadas.xhtml" value="Turmas Selecionadas"/>
		</h:form>
	</div>
	<h1>Nova Turma</h1>
	<h:form>
		<fieldset>
			<legend>Dados do Componente</legend>
			<h:outputLabel value="Componente" for="component" />
			<h:selectOneMenu value="#{subjectBean.componentId}">
				<f:selectItems value="#{subjectBean.componentList}" var="c"
					itemLabel="#{c.name}" itemValue="#{c.id}" />
			</h:selectOneMenu>
			<h:commandButton action="#{subjectBean.saveComponent}" value="Salvar Componente" />
		</fieldset>
		<fieldset>
			<legend>Dados da Turma</legend>
			<h:inputHidden value="#{subjectBean.subject.id}" />
			<h:panelGrid columns="2">
				<h:outputLabel value="Horário" for="time" />
				<h:inputText id="time" value="#{subjectBean.subject.time}" />
				<h:outputLabel value="Professor" for="teacher" />
				<h:inputText id="teacher" value="#{subjectBean.subject.teacher}" />
				<h:outputLabel value="Prioridade" for="priority" />
				<h:inputText id="priority" value="#{subjectBean.subject.priority}">
					<f:convertNumber integerOnly="true"/>
				</h:inputText>
				<h:outputLabel value="Comentário" for="comment" />
				<h:inputText id="comment" value="#{subjectBean.subject.comment}" />
				<h:outputLabel value="Selecionada?" for="selected" />
				<h:selectOneRadio id="selected" value="#{subjectBean.subject.selected}">
					<f:selectItem itemValue="#{true}" itemLabel="Sim"/>
					<f:selectItem itemValue="#{false}" itemLabel="Não"/>
				</h:selectOneRadio>
				<h:commandButton value="Salvar" action="#{subjectBean.save}"/>
			</h:panelGrid>
		</fieldset>
	</h:form>
</h:body>

</html>